
keyboard: {{ proxmox_datacenter_keyboard }}
tag-style: color-map={{ proxmox_datacenter_color_map }},shape={{ proxmox_datacenter_tags_shape }}
user-tag-access: user-allow=list,user-allow-list={{ proxmox_datacenter_user_allow_list }}
