# Python
.venv

# Ansible
collections

# VSCode
.vscode
__pycache__

# Terrafrom
.terraform
*.tfvars
*.tfstate*
.terraform.lock.hcl

# Other
flux_ssh_key
admin.conf
inventories/*/kubespray/artifacts/
inventories/*/kubespray/credentials/
